{{ define "main" }}
	{{ if not .Site.Params.about.hide }}
		{{ partial "about" . }}
	{{ end }}

	{{ if not .Site.Params.portfolio.hide }}
		{{ partial "portfolio" . }}
	{{ end }}

	{{ if not .Site.Params.recentposts.hide }}
		{{ partial "recent-posts" . }}
	{{ end }}

	{{ if not .Site.Params.contact.hide }}
		{{ partial "contact" . }}
	{{ end }}
{{ end }}
<!-- Add a menu:
   Log in / Sign up - when the user is not logged in
   Username / Log out - when the user is logged in
  -->
  <div data-netlify-identity-menu></div>

